[Desktop Entry]
Type=Application
Name=GridPlayer
GenericName=Video Player
Comment=Play videos side-by-side
Icon=com.vzhd1701.gridplayer
Exec=gridplayer %f
Terminal=false
Categories=AudioVideo;Video;
Keywords=video;qt;python;pyqt;vlc;
MimeType=application/x-gridplayer-playlist;video/x-msvideo;video/x-ms-wmv;video/x-matroska-3d;video/x-matroska;video/x-flv;video/webm;video/quicktime;video/mpeg;video/mp4;video/3gpp2;video/3gpp;video/mp2t;
